a.disabled,
a[disabled] {
    /* Make the disabled links grayish*/
    opacity: 0.7;
    /* And disable the pointer events */
    pointer-events: none;
}

.category-list {

}
.category-list li.active {
	font-weight: bold;
}

.manage-page {}
.manage-page table .action-col {
	width: 130px;	
}