﻿@using ImicAspnetMvc.Areas.Manage.Models
@{
    Layout = "~/Areas/Manage/Views/Shared/_ManageLayout.cshtml";
    ViewBag.Title = "Create new article";
}
@{
    var errorMessage = ViewBag.ErrorMessage;
    var articleCategories = (IEnumerable<ArticleCategoryModel>)ViewBag.ArticleCategories;
}

<div class="create-update-article">
    <h1>Create an article</h1>
    <br /><br />
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="label label-danger">
            @errorMessage
        </div>
    }
        <form action="@Url.Action("Create", "Article", new { area = "Manage" })" method="POST" class="form-horizontal" role="form">
            <div class="form-group">
                <label for="" class="col-md-3 label-control">Category</label>
                <div class="col-md-9">
                    <select name="ArticleCategoryId" class="form-control" required>
                        @foreach (var item in articleCategories)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>                    
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-md-3 label-control">Title</label>
                <div class="col-md-9">
                    <input type="text" name="Title" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-md-3">Sapo</label>
                <div class="col-md-9">
                    <textarea name="Sapo" cols="30" rows="6" class="form-control" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-md-12">Content</label>
                <div class="col-md-12">
                    <textarea name="Content" cols="30" rows="30" class="form-control richtext_editor" required></textarea>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-12 text-right">
                    <a href="@Url.Action("Index", "Article", new { area= "Manage" })" class="btn btn-default">Cancel</a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
</div>