﻿@using ImicAspnetMvc.Areas.Manage.Models
@model PagingModel<ArticleListModel>
@{
    Layout = "~/Areas/Manage/Views/Shared/_ManageLayout.cshtml";
    ViewBag.Title = "Article List";    
}
@functions {
    string BuildPagingUrl(int pageIndex, string orderBy = "", string keyword = "")
    {
        if(pageIndex < 1)
        {
            pageIndex = 1;
        }
        if (string.IsNullOrEmpty(orderBy))
        {
            orderBy = Model.OrderBy;
        }
        if (string.IsNullOrEmpty(keyword))
        {
            keyword = Model.Keyword;
        }
        return $"{Request.Url.AbsolutePath}?pageIndex={pageIndex}&orderBy={orderBy}&keyword={keyword}";
    }
}
<div class="manage-page">
    <h1>Manage article</h1>
    <div class="add-command text-right">
        @*<button class="btn btn-primary" data-toggle="modal" data-target='#modal-create'>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>*@
        <a href="@Url.Action("Create", "Article", new { area = "Manage" })" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
    </div>
    <div class="table-toolbar">
        <form action="" method="GET">
            <div class="form-group">
                Search <input type="text" class="form-control" name="keyword" value="@Model.Keyword" />
            </div>
        </form>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th><a href="@BuildPagingUrl(Model.CurrentPage, "ID")">ID</a></th>
                <th><a href="@BuildPagingUrl(Model.CurrentPage, "Title")">Title</a></th>
                <th><a href="@BuildPagingUrl(Model.CurrentPage, "Sapo")">Sapo</a></th>
                <th><a href="@BuildPagingUrl(Model.CurrentPage, "Category")">Category</a></th>
                <th class="action-col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var article in Model.Records)
            {
            <tr>
                <td>@article.Id</td>
                <td>
                    @article.Title
                </td>
                <td>
                    @article.Sapo
                </td>
                <td>
                    @article.Category
                </td>
                <td class="text-center">
                    <a href="@Url.Action("Update", "Article", new { area = "Manage", id = article.Id })" class="btn btn-default">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                    <form action="@Url.Action("Delete", "Article", new { area = "Manage" })" method="POST">
                        <button type="submit" class="btn btn-danger" onclick="confirm('are you sure want to delete this record?')">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                        <input type="hidden" name="redirect" value="@Request.Url.AbsoluteUri" />
                        <input type="hidden" name="id" value="@article.Id" />
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <ul class="pagination pagination-lg">
        <li><a href="@BuildPagingUrl(Model.CurrentPage - 1)" @(Model.CurrentPage == 1 ? "class=disabled":"")>&laquo;</a></li>
        @for (int i = 1; i <= Model.PageNumber; i++)
        {
            if (Model.CurrentPage == i)
            {
                <li class="active"><a href="@BuildPagingUrl(i)">@i</a></li>
            }
            else
            {
                <li><a href="@BuildPagingUrl(i)">@i</a></li>
            }
        }

        <li><a href="@BuildPagingUrl(Model.CurrentPage + 1)" @(Model.CurrentPage == Model.PageNumber ? "class=disabled":"")>&raquo;</a></li>
    </ul>
</div>
<!-- /content -->