﻿@using ImicAspnetMvc.Areas.Manage.Models
@model LoginModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/css/Manage/style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <form action="@Url.Action("Login", "Account")" method="POST" class="form-horizontal" role="form">
                    @if (Model != null && !string.IsNullOrEmpty(Model.ErrorMessage))
                    {
                    <div class="form-group">                       
                        Error: @Model.ErrorMessage
                    </div>
                    }
                    <div class="form-group">
                        <h2 class="text-center">Login</h2>
                    </div>
                    <div class="form-group">
                        <div>Account: admin / 123qwe</div>                        
                    </div>
                    <div class="form-group">
                        <label for="Username" class="control-label">Username</label>
                        <input type="text" class="form-control" id="Username" name="Username" placeholder="Username">                        
                    </div>
                    <div class="form-group">
                        <label for="Password" class="control-label">Password</label>
                        <input type="password" class="form-control" id="Password" name="Password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>


