﻿@{
    Layout = "~/Areas/Manage/Views/Shared/_ManageLayout.cshtml";
    ViewBag.Title = "Manage Page";
}
<div class="manage-page">
    <ul>
        <li><a href="@Url.Action("Index", "Article")">Manage articles</a></li>
        <li><a href="@Url.Action("Index", "ArticleCategory")">Manage article categories</a></li>
    </ul>
</div>