﻿@using ImicAspnetMvc.Models
@model IEnumerable<ArticleListModel>
@{
    if (Model == null)
    {
        return;
    }
}
<div class="row article-recent-viewed">
    @foreach (var article in Model)
    {
        <div class="col-sm-4">
            <a class="pull-left" href="@Url.Action("Detail", "Article", new { id = article.Id })">
                <img class="media-object" src="@article.Image" alt="@article.Title" title="@article.Title">
            </a>
            <div class="media-body">
                <h4 class="media-heading">@article.Title</h4>
                <p>@article.ShortDescription</p>
            </div>
        </div>
    }
</div>