﻿@using ImicAspnetMvc.Models
@model HomeModel
@{
    //ViewBag.PageTitle = "Home Page";

    var sessionArticleId = ViewBag.SessionArticleId;
}
@section css {
<style>
    .homecsshere {
        font-size: 90px;
    }
    </style>
}
<div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><h3>@Model.Heading</h3></h3>
        </div>
        <div class="panel-body">
            @foreach (var article in Model.Articles)
            {
                <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="@Url.Action("Detail", "Article", new { id = article.Id })">
                        <strong>@article.Title</strong></a>
                    </h3>
                </div>
                <div class="panel-body">                    
                    @article.ShortDescription
                </div>
                <div class="panel-footer">
                    <a href="#">tag1</a> <a href="#">tag2</a>
                </div>
            </div>
            }            
        </div>
    </div>

@Html.Action("ArticleRecentViewedPartial", "Home", new { area = "" })

@if(sessionArticleId == null)
{
    <h4>
        Session expired
    </h4>
}
else {
    <h4>
         Session Article Id = @sessionArticleId        
    </h4>
}