﻿<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">    
    <link rel="stylesheet" href="~/css/Manage/style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- nabbar -->
    <div class="navbar">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = "" })">Logo</a>
            <ul class="nav navbar-nav pull-right">
                <li class="active">
                    @Html.ActionLink("Manage", "Index", "Manage")
                </li>
                <li class="active">
                    @Html.ActionLink("Logout", "Logout", "Account")
                </li>
            </ul>
        </div>
    </div>
    <!-- /navbar -->
    <!-- content -->
    <div class="container">
        @RenderBody()
    </div>
    <!-- /content -->
    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/vendors/tinymce/tinymce.min.js"></script>
    <script src="/vendors/tinymce/jquery.tinymce.min.js"></script>
    <script src="/js/Manage/app.js"></script>
</body>
</html>
