﻿@using ImicAspnetMvc.Areas.Manage.Models
@model PagingModel<ArticleCategoryModel>
@{
    Layout = "~/Areas/Manage/Views/Shared/_ManageLayout.cshtml";
    ViewBag.Title = "Article List";    
}
@functions {
    string BuildPagingUrl(int pageIndex, string orderBy = "", string keyword = "")
    {
        if(pageIndex < 1)
        {
            pageIndex = 1;
        }
        if (string.IsNullOrEmpty(orderBy))
        {
            orderBy = Model.OrderBy;
        }
        if (string.IsNullOrEmpty(keyword))
        {
            keyword = Model.Keyword;
        }
        return $"{Request.Url.AbsolutePath}?pageIndex={pageIndex}&orderBy={orderBy}&keyword={keyword}";
    }
}
<div class="manage-page">
    <h1>Manage article</h1>
    <div class="add-command text-right">
        <button class="btn btn-primary" data-toggle="modal" data-target='#modal-create'>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </div>
    <div class="table-toolbar">
        <form action="" method="GET">
            <div class="form-group">
                Search <input type="text" class="form-control" name="keyword" value="@Model.Keyword" />
            </div>
        </form>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th><a href="@BuildPagingUrl(Model.CurrentPage, "ID")">ID</a></th>
                <th><a href="@BuildPagingUrl(Model.CurrentPage, "Name")">Name</a></th>
                <th><a href="@BuildPagingUrl(Model.CurrentPage, "Description")">Description</a></th>                
                <th class="action-col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Records)
            {
            <tr>
                <td>@item.Id</td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>                
                <td class="text-center">
                    <a href="@Url.Action("Update", "ArticleCategory", new { area = "Manage", id = item.Id })" class="btn btn-default">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                    <form action="@Url.Action("Delete", "ArticleCategory", new { area = "Manage" })" method="POST">
                        <button type="submit" class="btn btn-danger" onclick="confirm('are you sure want to delete this record?')">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                        <input type="hidden" name="redirect" value="@Request.Url.AbsoluteUri" />
                        <input type="hidden" name="id" value="@item.Id" />
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <ul class="pagination pagination-lg">
        <li><a href="@BuildPagingUrl(Model.CurrentPage - 1)" @(Model.CurrentPage == 1 ? "class=disabled":"")>&laquo;</a></li>
        @for (int i = 1; i <= Model.PageNumber; i++)
        {
            if (Model.CurrentPage == i)
            {
                <li class="active"><a href="@BuildPagingUrl(i)">@i</a></li>
            }
            else
            {
                <li><a href="@BuildPagingUrl(i)">@i</a></li>
            }
        }

        <li><a href="@BuildPagingUrl(Model.CurrentPage + 1)" @(Model.CurrentPage == Model.PageNumber ? "class=disabled":"")>&raquo;</a></li>
    </ul>
</div>
<div class="modal fade modal-form" id="modal-create">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create new article category</h4>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("Create", "ArticleCategory", new { area ="Manage" })" method="POST" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="" class="col-md-3 label-control">Name</label>
                        <div class="col-md-9">
                            <input type="text" name="Name" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-3">Description</label>
                        <div class="col-md-9">
                            <textarea name="Description" rows="6" class="form-control"></textarea>
                        </div>
                    </div>                    


                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<!-- /content -->