﻿@using ImicAspnetMvc.Areas.Manage.Models
@model ArticleCategoryModel
@{
    Layout = "~/Areas/Manage/Views/Shared/_ManageLayout.cshtml";
    ViewBag.Title = "Update an article category";
}
@{
    var errorMessage = ViewBag.ErrorMessage;    
}

<div class="create-update-article">
    <h1>Update an article category</h1>
    <br /><br />
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="label label-danger">
            @errorMessage
        </div>
    }
    <form action="@Url.Action("Update", "ArticleCategory", new { area = "Manage" })" method="POST" class="form-horizontal" role="form">        
        <div class="form-group">
            <label for="" class="col-md-3 label-control">Name</label>
            <div class="col-md-9">
                <input type="text" name="Name" class="form-control" required value="@Model.Name">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-md-3">Description</label>
            <div class="col-md-9">
                <textarea name="Description" cols="30" rows="6" class="form-control">@Model.Description</textarea>
            </div>
        </div>      

        <div class="form-group">
            <div class="col-sm-12 text-right">
                <a href="@Url.Action("Index", "ArticleCategory", new { area= "Manage" })" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>