﻿@using ImicAspnetMvc.Models;
@model ArticleModel
@{    
    //Request.QueryString["key1"] -> "value1"
}
<div class="panel panel-default">
    <div class="panel-body">
        <h1>@Model.Title</h1>

        <div class="content">
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>
@section script {
<script>
    AddToRecentViewdList(@Model.Id, "@Request.Url.AbsoluteUri");
</script>
}