﻿@{     
}
<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.PageTitle</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    @*<link rel="stylesheet" href="/css/bootstrap.bootstrap-theme.min.css">*@
    <link rel="stylesheet" href="/css/style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @RenderSection("css", false)
</head>
<body>
    <!-- nabbar -->
    <div class="navbar">
        <div class="container">
            <a class="navbar-brand" href="/">Logo</a>
            <ul class="nav navbar-nav pull-right">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Manage", new { area = "Manage" })">Manage</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /navbar -->
    <!-- content -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @Html.Action("SlidebarPartial", "Home")
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- /content -->
    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/js/app.js"></script>
    @RenderSection("script", false)
</body>
</html>
