﻿@using ImicAspnetMvc.Models
@model SlidebarPartialModel
<div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <h3>@Model.Heading</h3>
            </h3>
        </div>
        <div class="panel-body">
            <ul class="category-list">
                @foreach (var category in Model.Categories)
                {
                    <li><a href="@Url.Action("Index", "Home", new { area = "", id = category.Id })">@category.Name</a></li>
                }                
            </ul>
            <h3>@Model.MostreadHeading</h3>
            <ul class="media-list">
                @foreach (var article in Model.MostreadArticles)
                {
                <li class="media">
                    <a class="pull-left" href="@Url.Action("Detail", "Article", new { id = article.Id })">
                        <img class="media-object" src="@article.Image" alt="@article.Title" title="@article.Title">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">@article.Title</h4>
                        <p>@article.ShortDescription</p>
                    </div>
                </li>
                }                
            </ul>
        </div>
    </div>